# Normal usage creates log files
*.log

# Ignore config files
.StreamTaffy.conf
StreamTaffy.conf

# Ignore temporary files
*.tmp

# Ignore generated database
*.db

# Ignore files generated for a running instance
/live/**

# Ignore any templates that aren't explicitly tracked
/templates/**
